.body {
    text-align: center;
}

.main-content {
    margin-top: 32px;
}

.page-title {
    font-size: 5rem;
}

.form {
    max-width: 750px;
}

.enum-yes-no {
    max-width: 3rem;
}

.enum-short > .form-check {
    text-align: left;
    margin-top: 10px;
}